.about-heading {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 38%;
  font-size: 5rem;
  color: rgb(255, 85, 0);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
