@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Croissant+One&family=Dela+Gothic+One&family=Playfair+Display:ital,wght@0,700;0,800;0,900;1,700&display=swap");

.body-container {
  /* margin-top: 90px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.f-container {
  background-color: #b73d00;
  flex: 1.1;
  height: 100vh;
}
.s-container {
  background-color: rgb(134, 131, 131);
  flex: 3;
  height: 100vh;
  position: relative;
  display: flex;
  /* direction: column; */
  /* justify-content: center;
  align-items: center; */
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  position: absolute;
  width: 19%;
  height: auto;
  top: 20%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(250, 246, 242);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  /* transform: translate(-50%, -50%); */
  z-index: 2;

  /* transition: transform 0.5s; */
}

.prof_name {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .prof_pic:hover {
  transform: translate(-50%, -50%) scale(1.02);
} */
.home {
  background-size: cover;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  /* height: 100%;
  width: 100%; */
  opacity: 0.5;
}

.s-box {
  display: flex;
  flex-direction: column;
  z-index: 4;
  position: absolute;
  align-items: center;
  top: 30%;
  left: 15%;
}

.s-header {
  /* width: 100%; */
  font-size: 5rem;
  margin: 0.5rem;
  /* font-family: "Croissant One", cursive; */
  /* background-color: rgba(207, 60, 6, 0.639); */
  color: rgb(91, 2, 2);
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: color 0.5s, text-shadow 0.5s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.938);
}
.s-header:hover {
  color: rgb(106, 43, 43);
  transition: 0.3s;
  cursor: pointer;
}

.s-content {
  color: white;
}
