.news-reader {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
}

.news-head {
  padding: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
  color: rgb(255, 81, 0);
}
