.bg-image {
  height: 100%;
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: -1;
}

.todo-container {
  background-color: rgb(12, 10, 10, 0.5);
}
.todo-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.transparent-card {
  background-color: transparent;
  border: none;
  box-shadow: none;
  position: relative;
}

.transparent-card > h5 {
  background-color: #ed5f06;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 28px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  background-color: #ffffff;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-input {
  width: 90%;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #ed5f06;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
.task:hover {
  cursor: pointer;
  color: rgb(65, 6, 104);
  /* text-decoration: line-through; */
}
.completed {
  text-decoration: line-through;
}

.todo-btn {
  width: 6rem;
  margin-bottom: 20px;
  background-color: #f86306;
  color: white;
  border: solid 1.5px #ff8e48;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.todo-btn:hover {
  background-color: #ee480c;
}

.edit-btn {
  width: 5rem;
  margin-top: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f86306;
  color: white;
  border: solid 1.5px #ff8e48;
  padding: 8px 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.edit-btn:hover {
  background-color: #ee480c;
}

.added-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.edit-item {
  background-color: #fff;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 15rem;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
}
.task {
  width: 240px;
}
.edit-icon:hover {
  color: #05b021;
}
.delete-icon:hover {
  color: #d10202;
}
.pack {
  display: flex;
  direction: row;
}

.todo-btn.logout {
  margin: 1rem;
  position: absolute;
  top: 3rem;
  right: 1rem;
  color: #000000;
  width: 9rem;
  font-weight: 500;
}

.todo-btn.logout:hover {
  color: white;
  transition: 0.5s;
}

.welcome {
  padding: 0.5rem;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.home-link {
  position: absolute;
  text-decoration: none;
  font-size: 2.5rem;
  color: #f8f5f3;
  left: 1.5rem;
  top: 1.3rem;
}
