.todo-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.transparent-card {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.transparent-card > h5 {
  background-color: #ed5f06;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 28px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  background-color: #ffffff;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-input {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #ed5f06;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}
.task:hover {
  cursor: pointer;
  color: rgb(65, 6, 104);
  /* text-decoration: line-through; */
}
.completed {
  text-decoration: line-through;
}
/* .todo-input:focus {
  outline: none;
} */
/* .todo-input::placeholder {
  color: #aaa;
} */

.todo-btn {
  background-color: #f86306;
  color: white;
  border: solid 1.5px #ff8e48;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.todo-btn:hover {
  /* color: #000000; */
  background-color: #f1841e;
}

.added-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
}
.task {
  width: 240px;
}
.edit-icon:hover {
  color: #05b021;
}
.delete-icon:hover {
  color: #d10202;
}
