.ham-body {
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: rgb(161, 196, 21); */
  width: 50px;
  z-index: 2000;
}
.menu-icon {
  background: none;
  font-size: 1.5rem;
  margin-left: 2rem;
}
.ham-menu {
  background-color: rgb(244, 12, 12);
  width: 250px;
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 10%;
  transition: 350ms;
}
