.carousel-container {
  position: relative;
  padding-top: 90px;
}
.carousel-img {
  height: 750px;
  width: 100%;
}
.prof_pic {
  height: 20rem;
  width: 20rem;
  position: fixed;
  z-index: 200;
  top: 200px;
  left: 200px;
  border: solid orange;
  border-style: double;
}

/* .feed {
  width: 100px;
} */
