.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  z-index: 100;
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.header {
  width: 200px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-list {
  display: flex;
  padding-top: 1rem;
}
.nav-list li {
  padding: 0 1rem;
}
.nav-list li a {
  font-size: 1.2rem;
}

.nav-container a {
  color: #ef6109;
  text-decoration: none;
}
.nav-container ul {
  list-style-type: none;
}
